# temp folder
tmp

# Frontend asset
web/dist

# build folder
build

.DS_Store

# Jetbrains
.idea

# Docker Compose Environment File
.env

dist

# VSCode settings
.vscode
proto/gen/*
proto/gen/api/v1/inbox_service.pb.gw.go
